@mixin clearfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

@mixin ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@mixin multi-line-ellipsis($lines) {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $lines;
}

@mixin flex-content-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin flex-content-distribution {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
