// text
$fs-xl: 20px;
$fs-l: 18px;
$fs: 16px;
$fs-s: 14px;
$fs-xs: 12px;
$lh: 1.25;
$lh-text: 1.5;

// color
$color: #333;
$color-minor: #999;
$color-light: #ccc;
$color-dark: black;
$color-link: blue;
$color-splitter: #eee;
$color-hr: #ddd;

// $tag-color: #eee;
// $tag-color-hover: #ddd;

$bg-color: white;
$bg-color-stage: #e5eaf3;
$bg-color-hover: #f4f6f6;
$bg-color-placeholder: #ddd;

// layout
// $header-height: 60px;
// $page-width: 940px;
// $box-padding: 30px;
// $box-padding-narrow: 20px;
// $box-gap: 20px;
// $box-corner-radius: 4px;
